/* HOMEPAGE SPECIFIC */

/* change bg for homepage */
body.home{
	background: #fff url(../images/home-bg.png) 0 13px repeat-x;
}

/* tiny change to nav because of diff bg */
body.home .topbar #topnav{
	top: 73px;
}




/* hide newsletter widget on homepage */
body.home #column3 .fc_news{
	display: none;	
}

/* homepage splash */
#home_container{
	position: relative;
	margin: 0 auto;
	height:auto !important;
	min-height:360px;
	width:100%; 
	top: 0px;
	background: #c6001d url('../images/redbg.png') top left repeat-x;
}

#home_container #splash{
	position: relative;
	margin: 0 auto;
	width: 966px;
	top: 20px;
}
/* homepage - splash - map */
#home_container #splash #map{
	position: relative;
	left: 0px;
	clear: both;
	float:left;
	width: 480px;
	padding:0px 10px;
}

#home_container #splash #map p{
	font-weight:bold;
	padding:10px;
	margin:0px;
	position:relative;
	top:4px;
	font-size:11px;
	color: white;
}

#home_container #splash #map h2{
	font-weight: bold;
	font-size: 13px;
	color: white;
}
#home_container #splash #map .ui-tabs{
	background: #7C0012  !important;
	border: 0px !important;
}
#map .ui-tabs-nav {
	background: #7C0012  !important;
	border: 0px;	
}
#map .ui-tabs-nav li.ui-state-default{
	background: #7C0012  !important;
	border: 0px;
		
	color: white;
	
}
#map .ui-tabs-nav li.ui-state-hover{
	background: #5c000d  !important;
	border: 0px;		
	color: white;
}
#map .ui-tabs-nav li.ui-tabs-selected{
	background: #5c000d  !important;
	border: 0px;
	color: white;
}
#map .ui-tabs-nav li a{
	color: white !important;
}
#map .ui-tabs-panel{
}
#home_container #splash #map	#tabs .ui-tabs-panel, #column2 #tabs table tr td {
	padding: 0px !important;
}
#home_container #splash #map	.map-note { 
	color: #444;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/* homepage - splash - right content */

#home_container #splash #right_content{
	float: left;
	position: relative;
	left:20px;
	width: 410px;
}
#home_container #splash #right_content #box1{
	position: relative;
}
#home_container #splash #right_content #box1 h1{
	font-size: 40px;
	padding-top: 15px;
	font-weight: bold;
	color: white;
}
#home_container #splash #right_content #box1 span{
	font-size:8px;
	position:relative;
	top:-30px;
	left: -6px;
}
#home_container #splash #right_content #box1 p{
	position: relative;
	color: white;
	padding: 7px 0px;
	margin: 0px 0px;
	font-size: 13px;
	line-height: 20px;
}

#home_container #right_content #box2 {
	position: relative;
	clear: both;	
	padding-top: 10px;
}

#blue_bar_container{
	padding-top: 21px;
	position: relative;
	min-height: 85px;
}
/* Homepage - JCAHO Accreditation */

#jcaho{
	position: absolute;
	left: 0px;
	background: url(../images/seal.png) top left no-repeat;
	width: 370px;
	height: 90px;
	padding-left: 100px;
	top: -5px;
}
#jcaho h4{
	font-size: 13px;
	padding-bottom: 2px;
	padding-top: 24px;
}
#jcaho h3{
	font-size: 20px;
	position: relative;
	font-weight: bold;
}
#social_icons{
	float: right;
	position: relative;

}

/* Homepage - First Column */
/* styles for First Column are in global.css since they apply to sidebar as well */
#page #column1a {
	position: relative;
	float: left;
	clear: both;
	width: 285px;
}


#page #column1a .newsicon{
	display: inline-block;
	background: url("../images/newsicon.jpg") top left no-repeat;
	width: 51px;
	height: 51px;
	text-align: center;
	vertical-align: top;
}
#page #column1a .newsicon h6{
	text-transform: uppercase;

}
#page #column1a .newsicon h6.month{
	font-size: 13px;
	color: #adadad;
		font-weight: bold;
		position: relative;
		top: 5px;
}
#page #column1a .newsicon h6.day{
	font-size: 24px;
	color: #5C8AC6;
	font-weight: normal;
}

#page #column1a div.news{
	display: inline-block;
	
	vertical-align: top;
	width: 230px;
	min-height: 65px;
	line-height: 15px;
}

/* Homepage - Second Column */

#column2 {
	float: left;
	position: relative;
	width:340px;
	border-left: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	padding: 0px 20px;
}

#page #column2 .hreview{
	position: relative;
	padding: 10px 0px 20px 0px;
}
#page #column2 .hreview h4.summary{
	font-size: 14px;
	color: #3777C6;
	font-weight: bold;
	display: inline-block;
}
#page #column2 .hreview .rating{
	float: right;
}
#page #column2 .hreview .dtreviewed{
	display: none;
}
#page #column2 .hreview blockquote,
#page #column2 .hreview p{
	padding: 0px;
	margin: 0px;
}
#page #column2 .hreview .reviewer{
	text-align: right;
	font-size: 11px;
	font-weight: bold;
	color: #3777C6;
	float: right;
}
#aggregate-reviews{
	display: none;
}

/* Homepage -  Third Column */ 

#column3 {
	float: right;
	position: relative;
}
#column3 p{
	position: relative;
	padding: 0px;
	margin: 0px;
}
#column3 ul{
	padding: 20px 0px 0px 20px;
	margin: 0px;
	display: block;
	background: url("../images/quick_links.jpg") top left no-repeat;
	min-height: 95px;
}
#column3 ul li{
	display: block;
	padding: 0px 0px 8px 0px;
}
#column3 ul li a,
#column3 ul li a:hover{
	color: #5387C9;
}

#page h2.col_hdr{
		font-size: 26px;
}
#page h2.col_hdr a,
#page h2.col_hdr a:hover{
		color: #0a3c7e;
}

/*Custom CSS*/
#column3{
	width: 295px;
}
#page h2.col_hdr{
	font-size:22px;
}
#page #column3 .hreview{
	position: relative;
	padding: 10px 0px 20px 0px;
}
#page #column3 .hreview h4.summary{
	font-size: 14px;
	color: #3777C6;
	font-weight: bold;
	display: inline-block;
}
#page #column3 .hreview .rating{
	float: right;
}
#page #column3 .hreview .dtreviewed{
	display: none;
}
#page #column3 .hreview blockquote,
#page #column3 .hreview p{
	padding: 0px;
	margin: 0px;
font-size:11px;
}
#page #column3 .hreview .reviewer{
	text-align: right;
	font-size: 11px;
	font-weight: bold;
	color: #3777C6;
	float: right;
}
#column12{
float:left;
width:647px;
position:relative;
border-right:1px solid #EFEFEF;
padding:0 10px;
}
#column12 h5{
font-family: "Helvetica Neue", Helvetica, sans-serif;
font-weight: bold;
color: #0A3C7E;
border-bottom: 1px dotted #CECECE;
line-height:30px;
}
#column12 p{
margin:20px 0;
padding:5px 0;
}
#home_container #right_content #box2 {	
	padding-top: 15px;
}
#home_container #splash #right_content #box1 h3{
font-size:22px;
font-weight:bold;
padding-top:22px;
}
#home_container #splash #right_content #box1 p{
font-size:18px;
}
#blue_bar_container{
min-height:70px;
}